.faqsection{
    padding-top: 80px;
    padding-bottom: 80px;
    width: 700px;
    margin: 0 auto;
}
.header{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}